###########
# TeX
###########
*.pdf
*.log
*.swp
*.tcp
*.aux
*.bbl
*.blg
*.out
*.synctex
*.synctex(busy)
*.tps
*.otf
awk
gawk.exe.stackdump
gitHeadInfo.gin
gitTreeInfo.gtr
git-forest.pl
gitgraph.txt
sample.txt


##########
# OS X
##########
**/*.DS_Store
