### TeX
**/*.log
**/*.aux
**/*.out
**/*.otf
**/*.pytxcode

### Emacs
**/*~
**/*#

### OS X
**/*.DS_Store

### Python
venv
**/*.pyc
**/__pycache__
**/*.egg-info

### Authentication Information
util/bitly-oauth
credentials.ini

### Temporary file
**/*.tmp

### IntelliJ
.idea

### Vagrant
.vagrant
