### TeX
*.log
*.aux
*.out
*.otf

### Emacs
**/*~

### OS X
**/*.DS_Store

### Python
venv
__pycache__

### Authentication Information
util/bitly-oauth
credentials.ini

### Temporary file
**/*.tmp

### IntelliJ
.idea
