\documentclass[12pt,letterpaper]{article}

\def\myauthor{Benjamin Ran}
\def\mytitle{resume}
\def\myemail{benjaminran2@gmail.com}
\def\myweb{benjaminran}
\def\mykeywords{
  benjamin ran,
  resume, 
  benjamin,
  ran
}

\setlength\parindent{0pt}

\newenvironment{itemize*}%
{\begin{itemize}%
  \setlength{\itemsep}{0pt}}%
{\end{itemize}}

\usepackage{url}
\usepackage{fancyhdr}
\usepackage{lastpage}
%\usepackage{ocgtools}
\usepackage{enumitem}
\setlist{nolistsep,leftmargin=0.15in}
\usepackage[log-declarations=false]{xparse}
\usepackage[adobe-garamond]{mathdesign}
\usepackage[no-math]{fontspec}
\usepackage{microtype}
\usepackage[margin=1.125in,top=1.375in,right=1in,left=2in]{geometry}
\usepackage[strict]{changepage}
\usepackage[
  ocgcolorlinks,
  urlcolor={[rgb]{0,0,0.54}},
  unicode,
  plainpages=false,
  pdfpagelabels,
  pdftitle={\mytitle},
  pdfauthor={\myauthor},
  pdfkeywords={\mykeywords}
]{hyperref}
\usepackage{verbatim}
\usepackage{multicol}
\usepackage{xcolor}
\usepackage{etoolbox}
\usepackage{pythontex}

\makeatletter
\def\MT@is@composite#1#2\relax{%
  \ifx\\#2\\\else
    \expandafter\def\expandafter\MT@char\expandafter{\csname\expandafter
                    \string\csname\MT@encoding\endcsname
                    \MT@detokenize@n{#1}-\MT@detokenize@n{#2}\endcsname}%
    % 3 lines added:
    \ifx\UnicodeEncodingName\@undefined\else
      \expandafter\expandafter\expandafter\MT@is@uni@comp\MT@char\iffontchar\else\fi\relax
    \fi
    \expandafter\expandafter\expandafter\MT@is@letter\MT@char\relax\relax
    \ifnum\MT@char@ < \z@
      \ifMT@xunicode
        \edef\MT@char{\MT@exp@two@c\MT@strip@prefix\meaning\MT@char>\relax}%
          \expandafter\MT@exp@two@c\expandafter\MT@is@charx\expandafter
            \MT@char\MT@charxstring\relax\relax\relax\relax\relax
      \fi
    \fi
  \fi
}
% new:
\def\MT@is@uni@comp#1\iffontchar#2\else#3\fi\relax{%
  \ifx\\#2\\\else\edef\MT@char{\iffontchar#2\fi}\fi
}
\makeatother

% fix ocgcolor link breaking; thanks due to Benjamin Lerner (http://goo.gl/VZKR7M)
%% \makeatletter
%% \AtBeginDocument{%
%%   \newlength{\temp@x}%
%%   \newlength{\temp@y}%
%%   \newlength{\temp@w}%
%%   \newlength{\temp@h}%
%%   \def\my@coords#1#2#3#4{%
%%     \setlength{\temp@x}{#1}%
%%     \setlength{\temp@y}{#2}%
%%     \setlength{\temp@w}{#3}%
%%     \setlength{\temp@h}{#4}%
%%     \adjustlengths{}%
%%     \my@pdfliteral{\strip@pt\temp@x\space\strip@pt\temp@y\space\strip@pt\temp@w\space\strip@pt\temp@h\space re}}%
%%   \ifpdf
%%     \typeout{In PDF mode}%
%%     \def\my@pdfliteral#1{\pdfliteral page{#1}}% I don't know why % this command...
%%     \def\adjustlengths{}%
%%   \fi
%%   \ifxetex
%%     \def\my@pdfliteral #1{\special{pdf: literal direct #1}}% isn't equivalent to this one
%%     \def\adjustlengths{\setlength{\temp@h}{-\temp@h}\addtolength{\temp@y}{1in}\addtolength{\temp@x}{-1in}}%
%%   \fi%
%%   \def\Hy@colorlink#1{%
%%     \begingroup
%%       \ifHy@ocgcolorlinks
%%         \def\Hy@ocgcolor{#1}%
%%         \my@pdfliteral{q}%
%%         \my@pdfliteral{7 Tr}% Set text mode to clipping-only
%%       \else
%%         \HyColor@UseColor#1%
%%       \fi
%%   }%
%%   \def\Hy@endcolorlink{%
%%     \ifHy@ocgcolorlinks%
%%       \my@pdfliteral{/OC/OCPrint BDC}%
%%       \my@coords{0pt}{0pt}{\pdfpagewidth}{\pdfpageheight}%
%%       \my@pdfliteral{F}% Fill clipping path (the url's text) with current color
%%       \my@pdfliteral{EMC/OC/OCView BDC}%
%%       \begingroup%
%%         \expandafter\HyColor@UseColor\Hy@ocgcolor%
%%         \my@coords{0pt}{0pt}{\pdfpagewidth}{\pdfpageheight}%
%%         \my@pdfliteral{F}% Fill clipping path (the url's text) with \Hy@ocgcolor
%%       \endgroup%
%%       \my@pdfliteral{EMC}%
%%       \my@pdfliteral{0 Tr}% Reset text to normal mode
%%       \my@pdfliteral{Q}%
%%     \fi
%%     \endgroup
%%   }%
%% }
%% \makeatother
% end fixes


\definecolor{footergray}{gray}{0.6}

\newcommand{\suplinks}[1]{\begin{footnotesize} #1 \end{footnotesize}}
\newcommand{\mhead}[1]{\leavevmode\marginpar{\sffamily\footnotesize #1}}
\newcommand{\rdate}[1]{{\addfontfeature{Numbers=OldStyle} \hfill \textsc{#1}}}
\renewcommand{\date}[1]{{\addfontfeature{Numbers=OldStyle} #1}}
\renewcommand{\labelitemi}{-}

\setmainfont[
  Ligatures={TeX,Common},
  BoldFont={AGaramondPro-Semibold},
]{Adobe Garamond Pro}
\setsansfont[
  Ligatures={TeX,Common},
  Letters=SmallCaps,
  Color=660000,
]{Adobe Garamond Pro}
\setmonofont[Scale=0.85]{FontAwesome}

\makeatletter % fix for \hrulefill w/ mathdesign package
\def\hrulefill{\leavevmode\leaders \hrule height \rulethickness \hfill\kern\z@}
\makeatletter

%%%%% Document Start %%%%%
\begin{document}\flushbottom
\pagestyle{fancy} \setlength\headwidth{6.5in}
%\rhead{\textsc{Benjamin ~Ran—r\'{e}sum\'{e}—\thepage{} of \pageref*{LastPage}}} 
\cfoot{
\begin{footnotesize}
  \hypersetup{urlcolor=footergray}
  \color{footergray}
  %{{last_updated%}}
  ~|~
  \href{https://www.github.com/benjaminran/resume/tree/%{{git_hash%}}
  }{\texttt{}~%{{git_hash%}}
  }
\end{footnotesize}
}
%\thispagestyle{empty}
\begin{adjustwidth}{-1in}{}
{\Huge
  {\textsc{%
    {\addfontfeature{Style=TitlingCaps}B}\kern-1.5ptenjamin 
%    {\addfontfeature{Style=TitlingCaps}D}\kern-2pt.~%
    {\addfontfeature{Style=TitlingCaps}R}an}
  }
}
\hfill\hfill\hfill
{
  \begin{minipage}[b]{1.2in}
    \flushleft \footnotesize 
    Palo Alto, CA, USA \\
    \href{https://www.github.com/\myweb}{\texttt{}}~\href{https://www.linkedin.com/in/\myweb}{\texttt{}~\myweb}
  \end{minipage}
  \hfill
  \begin{minipage}[b]{2in}
    \flushright \footnotesize 
    %\href{tel:\myphone}{\myphone} \\ %\texttt{}~
    \href{mailto:\myemail}{\myemail} \\
  \end{minipage}
}\par
\hrulefill
\end{adjustwidth}  
\reversemarginpar 
\setlength\marginparwidth{0.85in}
\smallskip

%%%%% Objective %%%%%
%## if objective
\mhead{Objective}
\emph{%{{objective%}}
\bigskip
%## endif
  
%%%%% Experience %%%%%
\mhead{Experience}%
%\pyc{from cv import cv; cv.get_experience()}
%## for exp in experience
  \textbf{%{{exp.title%}}}%{if exp.location%}, %{{exp.location%}}%{endif%}
  \rdate{%{{exp.timespan%}}}\\
  \emph{%{{exp.subtitle%}}} \hfill \suplinks{%{for link in exp.links%}\href{%{{link.url%}}}{%{{link.title%}}}%{if not loop.last%}%{{' | '%}}%{endif%}%{endfor%}}\\
  %{{exp.description.general%}}
  %## if exp.description.details|length !=0
    \begin{itemize*}
      %## for detail in exp.description.details
        \item %{{detail%}}
      %## endfor
    \end{itemize*}
  %## endif
  \medskip
    
%## endfor
\bigskip

%%%%% Skills %%%%%
\mhead{Skills}
\vspace{-9mm}% TODO make better
\begin{multicols}{3}
  \begin{itemize}
    %## for skill in skills
      \item %{{skill%}}
    %## endfor
  \end{itemize}
\end{multicols}
\bigskip

%%%%% Education %%%%%
\mhead{Education}%
%## for school in schools
  \textbf{%{{school.name%}}}, %{{school.location%}} \rdate{%{{school.timespan%}}}
  %## if school.major is not none
    \\\emph{%{{school.major%}}}
  %## endif
  \begin{itemize*}
    %## if school.coursework|length != 0
      \item Relevant Coursework: %{{school.coursework | join(', ')%}}
    %## endif
    \item GPA: %{{school.gpa%}}
  \end{itemize*}
  \medskip
%## endfor
\bigskip

\end{document}
